body,
html,
#root,
.app,
.container,
.loginForm,
.Home {
  width: 100%;
  height: 100%;
  font-weight: 200;
  font-size: large !important;
  font-family: "Ubuntu", sans-serif;
  background-color: #2b2d42;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}

/*---------login--------*/
.container {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edf2f4;
  height: 25em;
  width: 50% !important;
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.loginForm {
  position: absolute;
  top: 20%;
  left: 25%;
  /* Container */
  min-width: 600px;
  max-width: 800px;
  color: #fff;
  align-items: center;
  height: 25em !important;
  width: 50% !important;
  margin: auto auto;
  /* Added */
  float: none;
  /* Added */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  /* Content */
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}

.login_title {
  display: flex;
  justify-content: center;
}

.login_logo {
  width: 5%;
  height: 50%;
  min-width: 30px;
}

.email_logo {
  display: flex;
  justify-content: center;
  padding-left: 21px;
}

.person_logo {
  width: 3%;
  height: 60%;
  min-width: 30px;
  padding-bottom: 10px;
}

.pass_logo {
  display: flex;
  justify-content: center;
  padding-left: 25px;
}

.lock_logo {
  width: 2%;
  height: 60%;
  min-width: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.left {
  min-width: 224px;
  height: auto;
  min-height: 100%;
  position: relative;
  background-image: url(../public/loginbackground.png);
  background-size: cover;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: auto !important;
}

h1#login {
  font-weight: 400 !important;
  padding-bottom: 5%;
  color: black;
  font-size: 28px;
  display: flex !important;
  align-items: center !important;
  padding-left: 10px;
  font-family: "MeedoriSans";
}

p#login_email {
  font-weight: 200 !important;
  color: black !important;
  margin-bottom: 5px;
  font-size: 15px !important;
  padding-right: 135px;
  padding-top: 5px;
  padding-left: 5px;
}

p#login_pass {
  font-weight: 200 !important;
  color: black !important;
  margin-bottom: 5px;
  font-size: 15px !important;
  padding-right: 165px;
  padding-top: 5px;
  padding-left: 8px;
}

.inputField {
  padding-bottom: 16px;
}

.input {
  box-sizing: border-box;
  outline: auto;
  outline-color: #2b2d42;
  font-weight: 200 !important;
  border: solid 2px #bcd9fa;
  border-radius: 4px;
  color: black;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.input::placeholder {
  color: #2b2d42;
  opacity: 0.4;
}

.submitButton {
  padding-top: 16px;
}

.btn2 {
  width: 100%;
  min-width: 280px;
  color: #ffff;
  padding: 12px;
  font-size: 16px;
  /* font-weight: bold;*/
  border-radius: 50px;
  background: #545fb6!important;;
  cursor: pointer;
}

.btn2:hover {
  color: #ffffff !important;
  background: rgb(200, 200, 200)!important;
}

/*---------mainmenu--------*/
.card {
  /* Add shadows to create the "card" effect */
  border-radius: 40px !important;
  border: none !important;
  box-shadow: 4px 4px 4px 0 rgba(40, 40, 40, 0.1);
}

.Aux,
.Aux  > div:not(.control-panel-view) {
  height: 100%;
}

.menu-container {
  background-color: #f5f4f4;
  height: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  /*width: 80% !important;*/
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  border-radius: 20px;
  position: relative;
  /*min-width: 1000px;*/
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 20px;
}

.cardsDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 250px 3fr;
  height: 100%;
}

.menubtn {
  background-color: #ffffff !important;
  color: #2b2d42 !important;
  border-style: none !important;
  border-radius: 40px !important;
  box-shadow: 2px 4px 8px 0 rgb(0 0 0 / 20%);
}

.menubtn:hover {
  box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #2b2d42 !important;
  color: white !important;
}

.btnside {
  border: solid 2px #ffffff !important;
  background-color: #ffffff !important;
  color: black !important;
  margin: 0 10px 5px 10px;
  border-radius: 20px !important;
  transition: none !important;
  flex-direction: row !important;
  max-height: 40px;
}

#menuhr {
  margin: 1rem 1rem !important;
}

.btnside:hover {
  color: #2b2d42 !important;
  border-color: #2b2d42 !important;
  background-color: white !important;
  border: solid 2px #2b2d42 !important;
  border-radius: 20px !important;
}

.infobtn {
  background-color: #2b2d42 !important;
  border-color: #2b2d42 !important;
}

.btn {
  font-weight: 200 !important;
  color: #edf2f4;
  vertical-align: middle !important;
  justify-content: center !important;
  display: flex !important;
  flex-direction: column;
}

.btn:hover {
  color: #d80032;
  border-color: white;
  background-color: rgb(255, 255, 255) !important;
}

/*---------side menu-------*/

.house_logo {
  width: 3%;
  height: 3%;
  min-width: 25px;
  padding-bottom: 10px;
}

.sword_logo {
  width: 3%;
  height: 3%;
  min-width: 25px;
  padding-bottom: 10px;
}

.chain_logo {
  width: 3%;
  height: 3%;
  min-width: 25px;
  padding-bottom: 10px;
}

.copy_logo {
  width: 3%;
  height: 3%;
  min-width: 25px;
  padding-bottom: 10px;
}

.engranaje_logo {
  width: 3%;
  height: 3%;
  min-width: 25px;
  padding-bottom: 10px;
}

.logout_logo {
  width: 3%;
  height: 3%;
  min-width: 35px;
  padding-bottom: 10px;
  padding-top: 6px;
  padding-right: 10px;
}

.pbtnside {
  padding-left: 7px;
}

@font-face {
  font-family: "MeedoriSans";
  src: url("../public/MeedoriSansBold.ttf");
}

.brand {
  font-weight: bold !important;
  display: flex !important;
  justify-content: center !important;
  padding-top: 1em;
  font-size: 26px !important;
  font-family: MeedoriSans;
}

.menu {
  background-color: #ffffff !important;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 4px 80px 0 rgb(40 40 40 / 20%);
}

.btn-light {
  height: 200px;
}

.btn-light:hover {
  background-color: #2b2d42 !important;
}

.btn3 {
  /*font-weight: bold !important;*/
  /*color: #2B2D42;*/
  width: 94%;
  position: absolute;

  bottom: 10px;
  color: #2b2d42;
  border-color: #2b2d42;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  border: solid 2px #ffffff !important;
  margin: 0 10px 10px 10px;
  max-height: 40px;
}

.btn3:hover {
  color: #d80032 !important;
  border-color: white !important;
  background-color: rgb(255, 255, 255) !important;

  border: solid 2px #d80032 !important;
  border-radius: 20px;
}

/*---------attack---------*/
nav ul {
  height: 460px;
  width: 99.9%;
  display: flex;
  flex-direction: column;
}

nav h1 {
  background-color: rgba(129, 173, 255, 0.5);
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: #000000;
  padding: 12px;
  font-size: 16px;
}
.react-sweet-progress {
  width: 97%!important;
  padding-left: 1.5em!important;
}
nav ul {
  overflow: hidden;
  /*overflow-y: scroll;*/
}

form {
  background-color: white;
  width: 95%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-top: 0px;
  border: 1px solid rgb(200, 200, 200);
}

input#in {
  all: unset;
  font: 16px system-ui;
  color: #000;
}

::placeholder {
  color: #000;
  opacity: 0.7;
}

.searchbtn {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.svg-container svg {
  align-items: right;
  color: #fff;
  fill: currentColor;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.search-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.search-nav {
  overflow-y: scroll;
  flex-grow: 1;
}

.search-container {
  padding-left: 2rem;
  padding-top: 15px;
  flex-shrink: 0;
}

.svg-container {
  margin-right: 5px;
  margin-left: auto;
}

nav a {
  background-color: rgba(0, 87, 236, 0.5);
  width: 95%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  color: #000000;
  padding: 12px;
  font-size: 16px;
  text-decoration: none !important;
}

#attacks a {
  background-color: rgb(200, 200, 200)!important;
}
#attacks a:hover {
  background-color: rgb(151, 151, 151)!important;
}
/*---------Settings display--------*/
#headerTitleSetting{
  width: 100%;
  text-align: center;
  height: min-content;
  
}
#settingsLayout{
  

}


/*---------attack- options--------*/
/* PORTS */

input.portInput.form-control{
  border: 2px solid #565656;
  border-color: #3d4685;
  height: 20px;
  font-size: small;
  width: 10%;
  transition: width 0.5s ease, border-color 0.3s ease;
  border-radius: 30px;

}


/* HEADER ATTACK TITLE - SUBMIT */
input.attackTitleName.form-control{
  border: 2px solid #9AA6B2;
  height: 40px;
  font-size: 20px;
  flex-direction: row;
  width: 30%;
  margin-right: 5px;
  transition: width 0.5s ease, border-color 0.3s ease;
  border-radius: 5px;
}

input.attackTitleName.form-control:focus{
  
  border-color: #9AA6B2;
  box-shadow: 0 0 5px #9AA6B2;
}
  

.headerOptionsAttack{
  margin: 0 auto;
  max-height: 60px;
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border-radius: px;
  margin-bottom: 5px;
  
  
}
/* ACCORDION OPTION */


.accordionOption {
  background-color: rgb(211, 211, 211);
  max-width: 48%;
  min-width: 25%;
  width: 50%;
  margin: 4px;
  border-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.accordionOptionItem.inactive {
  background-color: #D9EAFD !important; /* Fondo gris claro */
  border: 1px solid #ccc !important; /* Borde gris */
  opacity: 0.6 !important; /* Opcional: efecto visual de inactividad */
  pointer-events: none !important; /* Evita la interacción */
  cursor: not-allowed; /* Indica que no es interactivo */
}



button.accordionHeaderOption.accordion-button {
  background-color: #4A628A !important;
  border: 0px solid rgb(211, 211, 211);
  border-radius: 0px;
  justify-items: center;
  font-size: large;
  color: black !important;
}

button.accordionHeaderOption.accordion-button:hover {
  background-color: #7AB2D3 !important;
}

button.accordionHeaderOption.accordion-button:disabled {
  background-color: #4A628A !important; /* Asegura un fondo blanco */
  color: rgba(0, 0, 0, 0.5) !important; /* Color de texto gris */
  pointer-events: none; /* Desactiva la interacción */
  border: 0px solid #BCCCDC; /* Define explícitamente el borde */
  opacity: 0.5; /* Evita que se vuelva transparente */
}

.accordionBody.accordion-body {
  margin: 5px;
  padding: 0;
  background-color: rgb(211, 211, 211);
  border: 0px;
}

/* DIV ATTACK OPTION */
.divAttackOption {
  align-items: center;
  margin-bottom: 5px;


}

/*  SELECT FORM*/
select.form-select{
  border: 2px solid #9AA6B2;
  height: 30px;
  font-size: medium;
  padding: 0;
  text-align: center;
  border-radius: 5px;


}
select.form-select:focus{
  border: 2px solid #000000;
  border-color: #9AA6B2;
  box-shadow: 0 0 5px #9AA6B2;


}

/* TEXT FORM */
input.text-input.form-control{
  border: 2px solid #9AA6B2;
  border-color: #9AA6B2;
  height: 30px;
  font-size: medium;
  transition: width 0.5s ease, border-color 0.3s ease;
  border-radius: 5px;
  text-align: center;

}
input.text-input.form-control:focus{
  
  /*width: 100%;*/
  border-color: #9AA6B2;
  box-shadow: 0 0 5px #9AA6B2;

}

/* SWITCH-TEXTBOX FROM */
.form-switch-text.input-group{
  align-items: center;
  
  border: 0;
}

input.text-st.form-control:disabled {
  background-color: #b0aeae !important;
  border-color: #ccc;
  color: #999;
  width: 20%;
  transition: background-color 0.3s ease, border-color 0.3s ease, width 0.5s ease;
}






.switch-st.form-control.form-switch{
  background: none;
  max-width: 5%;
  margin: 0px;
  padding-right: 0px;
  border: none;
  
  
}


input.text-st.form-control{
  border: 2px solid #9AA6B2;
  height: 30px;
  font-size: medium;
  transition: background-color 0.3s ease, border-color 0.3s ease, width 0.5s ease;
  border-radius: 5px;
  text-align: center;
}
input.text-st.form-control:focus{
  border-color: #9AA6B2;
  box-shadow: 0 0 5px #9AA6B2;
}

input.switch-st.form-control {
  background: none;
  color: #000;
  

}

input.switch-st.form-control:checked{
  background: none;
  color: #000;
  background-color: #25d660 !important;
  

}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.titleDiv{
  
  text-align: center;
}

.optionAttackTitle{
  font-size: 15px;
  margin-bottom: 5px;
  margin-right: 5px;
  
}
.categoryOptionAttack {
  font-size: 20px;
}

.divMode {
  
  background-color: rgb(224, 224, 224);
  border-radius: 5%;
  padding: 10px;
}

.titleDiv{
  display: "flex";
  align-items:"center" I !important;
}

.divInputOptions{
  display: flex;
  max-height: 25px;
  align-items: center;
 
}


.custom-input-group {
  margin: 0%;
  padding: 0%;
  display: flex;
  align-items: center;
  width: 100%;
}

.custom-input-group .form-check-input {
  margin: 0%;    /* Espacio entre el checkbox y el input */
  padding: 0%;
}

.input-text-box{
  width: 30% !important;
  font-size: small !important;
  
}

.input-checkbox .form-check-input {
  width: 16px;         
  height: 16px;
  border: 2px solid #333; 
  background-color: #f0f0f0;
}

.custom_form_button:hover {
  resize: none !important;
}

#attackTitle {
  background-color: #2b2d42;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 2px solid #2b2d42;

  width: 25%;
  padding-top: 10px;
  padding-right: 20px;
}

.attack-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.attack-list nav {
  height: auto;
  overflow-y: scroll;
  flex-grow: 1;
}

#attackOptionsView {
  background-color: rgb(245, 244, 244);
}

form #attackOptionsView {
  background-color: rgb(245, 244, 244) !important;
}

#optionsTitle {
  background-color: rgb(245, 244, 244);
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  text-align: center; 
}

#attackTitleText {
  font-size: 25px;
  color: #000000; /* Mantendremos el color base */

  
  padding-top: 9px;
  margin-right: 10px;
  letter-spacing: 1px; /* Espaciado entre letras para que se vea más elegante */
}

/*  SECRET KEYS   */
#settingsLayout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ocupa todo el alto disponible de la ventana */
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 20px;
  overflow-y: auto; /* Habilita scroll si el contenido excede la altura */
}

#divSecretKeys {
  background-color: rgb(211, 211, 211);
  border-radius: 5px;
  padding-top: 10px;
  display: flex; /* Flexbox para distribuir hijos */
  flex-direction: column; /* Apila los hijos verticalmente */
  justify-content: flex-start;
  align-items: stretch; /* Los hijos ocuparán todo el ancho disponible */
  flex: 1; /* Permite que este contenedor crezca dentro de su padre */

}

#addSecretKeyForm {
  border: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
  margin-bottom: 20px; /* Separación entre el formulario y la tabla */
  background: none;
}

#divTableSecretKey {
  display: flex; /* Hace que el contenedor use Flexbox */
  justify-content: center; /* Centra la tabla horizontalmente */
  align-items: center; /* Centra la tabla verticalmente */
  
}

#tableSecretKey { 
  width: 90% !important; /* Ocupa todo el ancho disponible */
  max-width: 90% !important; /* Asegura que no se limite a un ancho menor */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo claro */
  overflow-y: auto !important;
  
}

#tableSecretKey thead th {
  background-color: #f1f1f1;
  font-weight: bold;
  text-align: center;
}

#tableSecretKey tbody tr {
  background-color: #f8f8f8; /* Alterna colores de fila */
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

#tableSecretKey tbody tr:nth-child(even) {
  background-color: #f8f8f8; /* Alterna colores de fila */
  
}

#tableSecretKey tbody tr:hover {
  background-color: rgba(233, 236, 239, 0.8); /* Color hover más claro */
  transition: background-color 0.2s ease; /* Transición suave */
}






#optionsTitleText {
  font-size: 25px;
  font-weight: bold; /* Hacemos el texto más grueso para resaltar */
  color: #2b2d42; /* Mantendremos el color base, un gris oscuro */
  background: linear-gradient(45deg, #2b2d42, #8d99ae); /* Gradiente suave de gris oscuro a un gris más claro */
  -webkit-background-clip: text; /* Aplicamos el gradiente solo al texto */
  background-clip: text;
  text-fill-color: transparent; /* Aseguramos que el gradiente se vea en el texto */
  
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Añadimos sombra suave para darle más profundidad */
  padding: 5px 10px; /* Un poco de espacio alrededor del texto para que se vea más espacioso */
  border-radius: 5px; /* Bordes redondeados para un toque más moderno */
  letter-spacing: 1px; /* Espaciado entre letras para darle un aire elegante */
  
  transition: transform 0.3s ease, color 0.3s ease; /* Transiciones suaves para hover */
}

#attackdiv {
  overflow-y: scroll;
  width: 100%;
  padding: 1em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.form-button {
  padding-top: 20px;
  background-color: rgb(245, 244, 244);
  width: 100%;
  display: flex;
  justify-content: center;
}

.custom_form_button {
  background-color: #40ff00 !important;
  border-color: #edf2f4 !important;
  border: 2px solid !important;
}

.custom_form_button:hover {
  background-color: #edf2f4 !important;
  color: #d80032 !important;
  border: 2px solid !important;
  border-color: #d80032 !important;
}

.options_alert {
  height: auto!important;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

#formAttack {
  display: flex;
  flex-wrap: wrap; /* Permite el desbordamiento hacia nuevas columnas */
  max-height: 100vh; /* Limita el contenedor al alto de la pantalla */
  /*overflow-y: auto; /* Añade scroll si los divs exceden el alto máximo */
  border: none;
  margin-left: 10px !important;
  background-color: rgb(245, 244, 244) !important;
  padding: 0px;
  justify-content: center;
}

.custom_accordion {
  background-color: rgb(240, 240, 240);
}

.custom_accordion_body {
  color: rgb(211, 211, 211)!important;
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: darkgray !important;
}

.collapsed {
  background-color: lightgray !important;
}

.input-group{
  align-items: center;
  border:#1222d0;

}

.input-group-text{
  background:black!important;
  display: block!important;
  transform: scale(.8);
  margin: 0%;
  padding: 0%;
  
}

.form-control:disabled{
    background-color: lightgray !important;

}



/*---------configured Attacks --------*/

#attack-border {
  background-color: rgb(151, 14, 14);
  width: 95%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  color: #000000;
  padding: 12px;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  height: 3em;
}

#attack-border:hover {
  background-color: rgb(250, 21, 21);
  width: 95%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  color: #edf2f4;
  padding: 12px;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  height: 3em;
}

.playBtn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.playBtn:hover {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #25d660;
}

.textAttack {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteBtn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.play-icon {
  color: #edf2f4;
}

.play-icon:hover {
  color: #29b34c;
}

.delete-icon {
  height: 20px!important;
  color: #edf2f4;
}

.delete-icon:hover {
  color: #d80032;
}

.play-iconClicked {
  color: #63ec85;
}

#attack-borderClicked {
  border-style: solid;
  background-color: #2b2d42;
  width: 95%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  color: #000000;
  padding: 12px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

/*--------- results --------*/

#results {
  overflow: hidden;
  height: auto !important;
  width: 99.8% !important;
}

/* #executing {
  background-color: transparent !important;
  pointer-events: none;
  text-decoration: none;
}

#executed,
#error {
  background-color: transparent !important;
  text-decoration: none;
} */

/*--------- Results ADRIA --------*/
#results-view {
  padding-bottom: 10px;
}

#resultsText {
  white-space: pre-wrap !important;
  color: #30d10f;
  font-family: "Source Code Pro", monospace !important;
}

#resultsTitle {
  background-color: #2b2d42;
  padding-top: 5px;
}

.download-results {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #545fb6;
  color: #fff;
  border: none;
  text-align: center;
  padding-bottom: 10px;
}

.download-results:hover {
  background-color: rgb(200, 200, 200) !important;
  border-color: #545fb6 !important;
}

.results_custom_accordion {
  background-color: #1b1b1b;
}

#results-view .accordion-button:not(.collapsed) {
  background-color: #ef233c !important;
  box-shadow: 0 0 0.25rem rgba(243, 104, 187, 0.25) !important;
}

#results-view .accordion-button {
  box-shadow: 0 0 0.25rem rgba(243, 104, 187, 0.25) !important;
}

#results-title {
  background-color: #edf2f4;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 2px solid #ef233c;
}

#results-title-text {
  font-size: 35px;
  font-weight: normal;
  letter-spacing: 3px;
  color: #ef233c;
}

.results-accordion {
  margin-top: 10px !important;
  margin-left: 10px !important;
}

#stepBox {
  padding-left: 3em;
  font-size: smaller !important;
  color: rgb(62, 62, 62);
}

#attackBox {
  background-color: lightgray;
  border-radius: 10px;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  font-size: smaller;
  align-items: flex-start;
  padding-bottom: 0.5em;
  box-shadow: 4px 4px 4px 0px rgba(40, 40, 40, 0.1);
}

.executed #attackBox:hover {
  opacity: 70%;
}

.error #attackBox:hover {
  opacity: 70%;
}

#nameBox {
  padding-left: 1.5em;
  font-weight: bold;
}

#attackBoxContainer {
  padding-right: 1.5em;
  padding-top: 1em;
}

svg {
  padding: 0px;
}

#svgSearch {
  padding: 10px !important;
}

.table-title-container {
  display: flex;
  justify-content: center;
}

.table-title-text {
  width: 500px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #2b2d42;
  text-align: center;
  border-bottom: 2px solid;
  position: relative;
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.table {
  max-width: 60% !important;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 6px !important;
}

.table > :not(:first-child) {
  border-top: 0px solid #dddddd !important;
}

.customrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.column {
  flex: none;
  flex-basis: 20%;
  border-style: ridge;
  background-color: #edf2f4;
  text-align: center;
  border: 0px;
  flex-grow: 1;
}

.customrow:first-child .column:first-child {
  border-top-left-radius: 6px !important;
}

.customrow:first-child .column:last-child {
  border-top-right-radius: 6px !important;
}

.customrow:last-child .column:last-child {
  border-bottom-right-radius: 6px !important;
}

.customrow:last-child .column:first-child {
  border-bottom-left-radius: 6px !important;
}

.column:hover {
  background-color: #5b6577;
}

#results-view {
  padding-bottom: 10px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#resultsText {
  white-space: pre-wrap !important;
  color: #30d10f;
  font-family: "Source Code Pro", monospace !important;
}

#resultsTitle {
  background-color: #254bb7;
  padding-top: 5px;
}

.download-results {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #d80032 !important;
  padding-bottom: 10px;
}

.download-results:hover {
  background-color: #edf2f4 !important;
  color: #d80032 !important;
  border: 2px solid !important;
  border-color: #d80032 !important;
}

.results_custom_accordion {
  background-color: #1b1b1b;
}

.results_custom_table {
  color: #1b1b1b;
}

#results-view .accordion-button:not(.collapsed) {
  background-color: #545fb6 !important;
  color: #ffffff !important;
  box-shadow: 0 0 0.25rem rgba(243, 104, 187, 0.25) !important;
}

#results-view .accordion-button {
  box-shadow: 0 0 0.25rem rgba(243, 104, 187, 0.25) !important;
}

#results-title {
  background-color: #edf2f4;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 2px solid #545fb6;
}

#results-title-text {
  font-size: 35px;
  font-weight: normal;
  letter-spacing: 3px;
  color: #ef233c;
}

.results-accordion {
  margin-top: 10px !important;
  margin-left: 10px !important;
}

.users {
  display: flex !important;
  flex-direction: column !important;
  height: 180px !important;
  width: 99.9% !important;
}

.adminform {
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  float: none;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 800px;
  min-width: 600px;
  width: 50% !important;
}

.adminbtn {
  background-color: #545fb6!important;
  color: #fff!important;
  width: 50% !important;
}

.adminbtn:hover {
  background-color: rgb(200, 200, 200) !important;
  width: 50% !important;
}

.admintitle {
  font-size: 25px !important;
  padding-left: 8em !important;
  padding-top: 13px !important;
  padding-bottom: 10px !important;
}

#admininput {
  height: 3em !important;
}

.textadmin {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 13.5em;
}

.admin_logo {
  height: 3%;
  min-width: 25px;
  padding-bottom: 10px;
  width: 3%;
}

.cardDashboard {
  /*background-color: #25d660;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titolDashboard {
  padding: 0.5em;
  background-color: #545fb6;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top-left-radius: 40px !important;
  border-top-right-radius: 40px !important;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0 1px 2px;
}

.bodyDashboard {
  /*background-color: #0d4c57;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valuesDashboard {
  padding: 1em;
  width: 100%;
}

.startDashboard {
  width: 90%;
  display: flex;
  align-items: center;
}

.btnsideDashboard {
  background-color: #d3d3d3 !important;
  width: 100%;
  border: solid 2px #ffffff !important;
  color: black !important;
  margin: 0 10px 5px 10px;
  border-radius: 20px !important;
  transition: none !important;
  flex-direction: row !important;
  max-height: 40px;
}

.btnsideDashboard:hover {
  background-color: #d3d3d3 !important;
  color: #2b2d42 !important;
  border-color: #2b2d42 !important;
  border: solid 2px #2b2d42 !important;
}

.dashboardTitle {
  font-size: 25px !important;
  padding-left: 12.2em !important;
  padding-top: 24px !important;
}

.dashboardView {
  overflow: hidden;
  overflow-y: scroll;
}
.dashboardView::-webkit-scrollbar {
  display: none;
}

.noDataDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}

.btnsideNoData {
  display: block;
  background-color: #545fb6!important;
  color: white !important;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px!important;
  font-weight: 400!important;
  border: none!important;
  margin-bottom: 10px;


}

.btnsideNoData:hover {
  color: white !important;
  background-color: #6d76b8 !important;
}

.dataInfo {
  padding-bottom: 0.5em;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  /*font-family: Roboto, Lato, Helvetica, Arial, sans-serif;*/
  color: #030303;
}

html,
body,
#root,
.app {
  min-height: 100vh;
  width: 100%;
}

.canvasInterior {
  display: flex;
  overflow: hidden;
}

.paletteDiv {
  width: 17%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(240, 240, 240);
}
.collapsible {
  width: 100%;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 4px;
}
.collapsible .content {
  padding: 6px;
  background-color: rgb(240, 240, 240);
  font-size: 17px;
}
.collapsible .header {
  background-color: rgb(200, 200, 200);
  padding: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(220, 220, 220);
}
.collapsible .header .title {
  font-weight: 400;
}
.propertiesDiv {
  width: 20%;
  min-width: 260px !important;
  background-color: rgb(240, 240, 240);
  overflow-x: hidden;
  overflow-y: scroll;
}
.canvasDiv {
  width: 65%;
  min-width: 300px !important;
}
.paletteDiv {
  width: 15%;
  min-width: 125px !important;
}
.palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.shape {
  margin: 10px;
  height: 100px;
  width: 150px;
  border: solid 2px black;
}

.circle {
  width: 100px;
  border-radius: 50%;
}

.panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.properties {
  margin-top: 10px;
}

.key {
  color: lightslategray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 25px;
}

.value {
  color: darkslategray;
  font-weight: bolder;
}

.no-data {
  color: darkslategray;
}

.canvasDiv {
  /**width: calc(80% - 200px);**/
  border: solid 1px lightgray;
  border-top: none;
  border-bottom: none;
  position: relative;
}

.buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.buttons button {
  margin: 4px;
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  background: lightgray;
  transition: all 0.25s ease-in;
  z-index: 10;
  padding: 0 8px;
  border-radius: 4px;
}

.informationButton{
  
  width: 20px !important;
  height: 20px !important;
  color: #fff!important;
  font-size: 3px;
  border: solid lightgrey 2px!important;  
  background: rgb(123, 123, 123)!important;
  border-radius: 50% !important;
  align-items: center;
  justify-content: center;
  
}

.informationButton:hover{
  background: darkgray!important;
}



.shape.rectangle {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 90%;
}

.shape.rhombus {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: white;

  transform: rotate(45deg);
  width: 50px;
  height: 50px;
}

.shape.rhombus > .text {
  transform: rotate(-45deg);
  padding: 9px;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto !important;
  transform: translate(-50%, -50%);
  background-color: rgb(240, 240, 240);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.popup input[type="text"] {
  display: block;
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

::placeholder {
  color: #999;
}

.popup button {
  display: block;
  background-color: #545fb6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.popup button:hover {
  background-color: rgb(200, 200, 200) !important;
}

.popup button:active,
button:active {
  background-color: #545fb6;
}

.popupbuttons {
  display: flex;
}

.popupbuttons > button {
  margin-right: 20px;
}

.propertiesButton button:hover {
  background-color: rgb(200, 200, 200) !important;
  border-color: #545fb6 !important;
}

.propertiesButton {
  display: flex;
  justify-content: center;
}

.propertiesButton button + button {
  margin-left: 10px;
}

.propertiesButton button {
  display: block;
  background-color: #545fb6;
  color: #fff;
  border: none;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

  width: 100px;
}

.propertiesButton button:nth-child(2) {
  margin-left: 20px !important;
}

.css-1nmdiq5-menu {
  height: auto !important;
}
.dashboardView {
  height: auto !important;
}

.search-container {
  height: auto !important;
}

.search-container * {
  height: auto !important;
}

.grid nav {
  height: auto !important;
}

.grid nav * {
  height: auto !important;
}

.dashboardView * {
  height: auto !important;
}

.adminform {
  height: auto !important;
}

.adminform * {
  height: auto !important;
}

.Toastify {
  height: auto !important;
}

.Toastify * {
  height: auto !important;
}

.Toastify__progress-bar {
  height: 5px !important;
}

.circle {
  width: 50% !important;
  height: 50px;
  text-align: center;
  background-color: white;
}

.workflowButton {
  margin-left: 10px;
  background: transparent;
}

.workflowButton:hover {
  background: rgb(200, 200, 200);
}

.dropdown,
.dropdown * {
  height: auto !important;
}

.constructContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.constructName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.constructButtons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.palette > h2{
  word-break: break-word;
  margin: 5%;
  text-align: center;
}

.otherList{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.propertiesSpace{
  margin: 5% 0;
}

.propertiesTitle{
  word-break: break-word;
  margin: 5%;
  margin-bottom: 10%;
  text-align: center;
}

#results-view {
  height: auto !important;
}

/******** CONTROL PANEL VIEW ********/

.control-panel-view {
  display: block;
  visibility: visible;
  width: 100%;
  height: auto;
  position: relative;
  overflow-y: auto;
}

.control-panel-view::-webkit-scrollbar {
  display: none;
}

/******** CAROUSEL COMPONENT ********/

.carousel-section {
  padding: 10px;
  width: auto;
}

.carousel-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 35px;
  flex-wrap: wrap;
  margin: 20px 16px 10px 16px;
}

.carousel-section h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: #000000;
  margin: 0px;
}

.control-panel-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-bottom: 5px;
}

.carousel-wrapper {
  position: relative;
  overflow: visible;
  width: 100%;
}

.carousel-container {
  width: calc(100% - 32px);
  height: auto;
  margin: 0 auto;
  padding: 14px 14px 0px;
  border-radius: 36px;
  background-color: #dcdcdc; 
  overflow: hidden;
  position: relative;
}

/* si firefox, padding diferent donat que no té scrollbars customitzables*/
@supports (-moz-appearance: none) {
  .carousel-container {
    padding: 14px 14px 6px;
  }
}

/* Degradat lateral al carousel */
.carousel-container::before,
.carousel-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  pointer-events: none;
  z-index: 1;
}

.carousel-container::before {
  left: 0;
  background: linear-gradient(to right, #dcdcdc, transparent);
}

.carousel-container::after {
  right: 0;
  background: linear-gradient(to left, #dcdcdc, transparent);
}

/* navigation buttons carousel */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #f0f0f0;
  background-image: url('./images/nav-arrow.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, background-color 0.2s ease, opacity 0.3s ease;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

/* Lateral navigation butons */
.carousel-button.b-left {
  left: 25px;
  transform: translateY(-50%) rotate(180deg);
}

.carousel-button.b-right {
  right: 25px;
}

.carousel-button.b-left:active {
  transform: scale(0.9) translateY(-50%) rotate(180deg);
  background-color: #e0e0e0;
}

.carousel-button.b-right:active {
  transform: scale(0.9) translateY(-50%);
  background-color: #e0e0e0;
}

.carousel-button:hover {
  opacity: 1;
}

.carousel-no-data p{
  width: 100%;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #5d5d5d !important;
  text-align: center;
  font-weight: bold;
}

.carousel-no-data {
  width: 100%;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-no-data p {
  font-size: 1.2em;
  color: #5d5d5d;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

.cards-control-panel {
  display: flex;
  overflow-x: auto;
  gap: 24px;
  margin: 0 -32px;
  scroll-snap-type: x mandatory;
  transition: transform 0.5s ease;
  padding-bottom: 8px;
}

.cards-control-panel::before,
.cards-control-panel::after {
  content: "";
  width: 10px;
  flex-shrink: 0;
}

.cards-control-panel::-webkit-scrollbar {
  height: 6px;
  max-height: 60px;
}

.cards-control-panel::-webkit-scrollbar-track {
  background: transparent;
  margin: 0 50px;
}

.cards-control-panel::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 4px;
}

/******** CARD CONTROL PANEL ********/

.card-control-panel {
  width: 100%;
  max-width: 300px; /* amplada maxima de les targetes, fixe */
  height: 250px; /* alçada maxima de les targetes, fixe */
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  position: relative;
  overflow: hidden;

}

.titol-card-control-panel {
  padding: 0.5em;
  background-color: #545fb6;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  width: 100%;
  min-height: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.body-card-control-panel {
  height: 100%;
  padding: 0.6em 1em 0em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.values-card-control-panel div {
  margin-bottom: 5px;
  font-size: 0.9em;
  height: auto;
}

.progress-control-panel .react-sweet-progress {
  padding: 15px;
}

/******** MORE ACTIONS BUTTON ********/

.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 16px;
}

.more-actions-button, .start-button, .delete-button, .configure-button {
  font-size: 0.9em;
  font-weight: bold;
  color: #333;
  background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
  border: 1px solid #ececec;
  border-radius: 32px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.more-actions-button {
  padding: 8px 16px;
}

.configure-button {
  padding: 8px 16px;
  width: 100%;
  font-size: 1em;
  margin: 0 auto 15px;
}

.start-button {
  height: 42px;
  width: 50px;
  font-size: 1em;
}

.delete-button {
  height: 42px;
  width: 50px;
  font-size: 1.1em;
}

.more-actions-button:hover, .start-button:hover, .delete-button:hover {
  background: linear-gradient(to bottom, #e0e0e0, #d6d6d6);
}

/******** MORE ACTIONS MENU ********/

.wrapper-expanded-actions-menu {
  position: fixed;
  height: auto;
  z-index: 1000;
}

.expanded-actions-menu {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 10px;
  transition: all 0.2s ease-in-out;
  animation: expand-dropdown 0.3s ease-in-out;
  transform-origin: top;
}

@keyframes expand-dropdown {
  from {
      transform: scaleY(0);
      opacity: 0;
  }
  to {
      transform: scaleY(1);
      opacity: 1;
  }
}

.expanded-actions-menu button {
  padding: 8px 16px;
  font-size: 0.9em;
  font-weight: bold;
  color: #333;
  background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
  border: 1px solid #ececec;
  border-radius: 32px;
  cursor: pointer;
  transition: background 0.3s;
}

.expanded-actions-menu button:hover {
  background: linear-gradient(to bottom, #e0e0e0, #d6d6d6);
}

/******** SEARCH ********/

.search-container-control-panel {
  max-width: 250px;
}

.search-input {
  width: 100%;
  padding: 0.3rem 0.9rem;
  border: 1px solid #ccc;
  border-radius: 18px;
  font-size: 1rem;
  font-weight: 100;
  color: hsl(0, 0%, 20%);
  transition: border-color 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.search-input::placeholder {
  color: #aaa;
  font-style: italic;
}